<h1>Escoje tu lenguaje</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lenguaje</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>C#</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Angular</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Node</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Programacion orientada a objetos</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Patrones de diseno</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Unit testing</td>
    </tr>
  </tbody>
</table>
